extends ../layout

block title
  title Documents

append meta
  meta(name='description', content='Documents and reference material')

block content
  section.page.index
    h2 Documents
    include ./list
