ul
  li
    a(href="/docs/browser-update") Browser Update
    span How to update your browser
  li
    a(href="/docs/contribution-guidelines") Contribution Guidelines
    span Guidelines for contributing new quotes
  li
    a(href="/docs/privacy-policy") Privacy Policy 
    span Protection of your privacy
  li
    a(href="/docs/source-code") Source Code
    span Get the website source code
