extends ../layout

block title
  title Privacy Policy

append meta
  meta(name='description', content='Protection of your privacy')

block content
  section.page
    h2
      a(href='/docs', title='Documents') Documents
      | &nbsp;/&nbsp;
      | Privacy Policy
    p In this modern digital age it is important not only to protect your 
      | valuable private information but also what you see and what you do;
      | here we describe how we protect your privacy.
    h3 Analytics
    p We do not use any third-party analytics providers which means your 
      | browsing habits are not exposed to third-party providers who may 
      | wish to sell that information.
    h3 Registration
    p No registration is required to submit a quote, you may 
      | optionally enter your email address to be notified when the quote 
      | has been processed. For users that provide an email address it is 
      | encrypted before it is stored in the database and the private 
      | decryption key is stored offline only available to the curator.
    h3 Encryption
    p To prevent malicious content being injected into our web pages whilst 
      | they are in transit we force the use of SSL for all connections.
    h3 File Hosting
    p None of the website files are hosted with third-party services so that 
      | we have a strong level of confidence that the files we serve have 
      | not been tampered with.
    h3 Cookies
    p This website does not use any cookies which means we are not able 
      | to track your usage of the website; what you do is your business.
