include ../../mixin/quote-toolbar
include ./clear-dialog
include ./import-dialog

//- quote listing item
.quotation.item
  blockquote.primary
  .meta.clearfix
    cite.float-left 
    +quote-toolbar(null, {permalink: true})

//- messages
.msg.error
  p &nbsp;
  a.close(href='#dismiss')
    i.fa.fa-close
