:root {
  --muted: #999999;
  --link-color: #121266;
  --card-width: 260px;
}

/* DARK */

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@font-face {
    font-family: noto-serif;
    src: url('./font/NotoSerif-Regular-webfont.eot');
    src: url('./font/NotoSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/NotoSerif-Regular-webfont.woff') format('woff'),
         url('./font/NotoSerif-Regular-webfont.ttf') format('truetype'),
         url('./font/NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: noto-serif, serif;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2rem;
}

section {
  display: flex;
  flex-direction: column;
}

section.quote {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.quote > div:first-child {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;
}

section > h3 {
  text-align: center;
}

header, footer {
  flex: 0 0;
  text-align: center;
  padding: 1rem 0;
}

footer {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a:not(.home) {
  color: var(--link-color);
  text-decoration: none;
  line-height: 1.4;
  transition: border-bottom 0.5s ease-out;
  border-bottom: 1px solid transparent;
}

a:not(.home):hover, a.selected {
  border-bottom: 1px solid currentColor;
}

a[href="#next"] {
  font-size: 1.6rem;
  opacity: 0.6;
}

nav {
  font-size: 1.5rem;
  text-transform: uppercase;
}

nav > span:not(:last-child):after {
  display: inline-block;
  content: '•';
  margin: 0 10px;
}

nav.tags {
  align-self: flex-start;
}

blockquote {
  margin: 1.5rem;
}

cite {
  font-size: 1.4rem;
  text-align: center;
}

main > nav:first-child > * {
  display: inline-block;
  margin: 0;
  padding: 0;
}

main > nav:first-child > *::after {
  display: inline-block;
  content: '»';
  margin: 0 .5rem;
}

ul.cards {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

ul.cards.center {
  justify-content: center;
}

ul.cards > li {
  max-width: var(--card-width);
  margin: 10px;
  padding: 1rem;
  border-bottom-right-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

ul.cards > li > blockquote {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

ul.tags {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  color: var(--muted);
  font-size: 1.4rem;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1rem;
}

ul.tags > li:not(:last-child) {
  margin-right: 10px;
}

.hidden {
  display: none !important;
}

@media (min-width: 320px) {
  ul.cards > li {
    width: var(--card-width);
  }
}

@media (min-width: 420px) {
  ul.cards > li {
    max-width: none;
    width: 360px !important;
  }
}

@media (min-width: 640px) {
  ul.cards.expand > li {
    max-width: none;
    width: calc(var(--card-width) * 2);
  }
}
