<li>
  <blockquote>
    <a href="/quotes/{{id}}/">{{document.quote}}</a>
  </blockquote>
  {{#if with_author}}
  <cite>&mdash; <a href="/authors/{{slug document.author}}/">{{document.author}}</a></cite>
  {{/if}}
</li>
