.DS_Store
node_modules
coverage
target
build
package
www/public/assets/js/*
spider.*
/ref
*.bak
*.rdb
*.log
*.pid

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
