extends ../layout

//-include mixin/quotation
//-include mixin/refresh

block header

block content
  section.page
    h2 Files
  //-.quote-main
    //-.ism
      //-+quotation(doc)
  //-include include/footer-home
