extends ../layout

include ../mixin/tag-list
include ../mixin/cite-primary
include ../mixin/downloads

block header
  include header

block content
  .page.download
    +downloads('/' + doc.id, {compact: true})
    div.quotation(data-id=doc.id)
      blockquote.primary #{doc.quote}
      +cite-primary(doc)
