extends ../layout

include ../mixin/quote-toolbar
include ../mixin/quote-listing

block content
  section.page
    h2
      a(href='/explore/authors', title='Explore authors') Authors
      | &nbsp;/
      | #{author}
    .listing
      +quote-listing(quotes)
