extends ../layout

include ../mixin/quote-toolbar
include ../mixin/quote-listing

block content
  section.page
    h2
      a(href='/explore/tags', title='Explore tags') Tags
      | &nbsp;/
      | #{tag}
    .listing
      +quote-listing(quotes)
