extends ../layout

include ../mixin/quote-toolbar

block content
  section.page
    h2
      a(href='/explore', title='Explore') Explore
      | &nbsp;/ Tags
    .listing
      p.all-tags
        - var i, key, value;
        - for(var i = 0;i < tags.rows.length;i++) {
          - title = tags.rows[i].title;
          - key = tags.rows[i].key;
          - value = tags.rows[i].value;
          a(href='/explore/tags/' + key, title=key + ' (' + value + ')')
            | #{title}
          - if(i < (tags.rows.length - 1)) {
            | , 
          - }
        - }
