extends ../layout

include ../mixin/quote-toolbar
include ../mixin/tag-list

block content
  section.page
    h2
      a(href='/explore', title='Explore') Explore
      | &nbsp;/ Tags
    form.table.tag-search(method='post', action='/explore/tags/search')
      fieldset
        .cell
          input(
            type='search',
            placeholder='Search by tags (eg: love wisdom)')
        .cell
          input(type='submit', value='Search')
    .listing
      p.all-tags
        +tag-list(tags)
