include ../mixin/refresh

footer
  .swatches
    a.swatch(href='#color', title='Pure')
      svg.pure(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a.swatch(href='#color', title='Survival')
      svg.survival(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a.swatch(href='#color', title='Sexuality')
      svg.sexuality(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a.swatch(href='#color', title='Power')
      svg.power(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a.swatch(href='#color', title='Love')
      svg.love(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a.swatch(href='#color', title='Communication')
      svg.communication(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a.swatch(href='#color', title='Intuition')
      svg.intuition(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a.swatch(href='#color', title='Spirituality')
      svg.spirituality(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
  +refresh()
  a.home(
    href='/',
    title='Home page')
      img(src='/assets/img/dreamcatcher.png', alt='Home')
