include ../mixin/refresh

footer
  //- NOTE: classes must be on the svg element
  .swatches
    a(href='#pure', title='Pure')
      svg.pure(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a(href='#survival', title='Survival')
      svg.survival(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a(href='#sexuality', title='Sexuality')
      svg.sexuality(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a(href='#power', title='Power')
      svg.power(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a(href='#love', title='Love')
      svg.love(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a(href='#communication', title='Communication')
      svg.communication(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a(href='#intuition', title='Intuition')
      svg.intuition(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
    a(href='#spirituality', title='Spirituality')
      svg.spirituality(viewBox='0 0 20 20')
        use(xlink:href="/assets/img/circle.svg#circle")
  +refresh()
  a.home(
    href='/',
    title='Home page')
      img(src='/assets/img/dreamcatcher.png', alt='Home')
