header.clearfix
  a.logo(href="/")
    img.logo.float-left(src="/assets/img/logo.png", alt="logo")
  nav.float-right
    a(href="/why", title="Why this page exists")
      | Why?
    a(href="/inspire", title="Browse the quotes")
      | Inspire
    a(href="/donate", title="Donate to keep this service alive")
      | Donate
    a(class="button" href="/create", title="Create a quote")
      | Create
