mixin main-nav(uri)
  - var map = {}, keys, i;
  - map.why = {title: 'Why this page exists', text: 'Why?'};
  - map.explore = {title: 'Browse the quotes', text: 'Explore'};
  - map.contribute = {title: 'Find out how to contribute', text: 'Contribute'};
  - map.create = {title: 'Create a quote', text: 'Create'};
  - keys = Object.keys(map);
  nav.main.float-right
    - for(i = 0;i < keys.length;i++) {
      a(href="/" + keys[i],
        title=map[keys[i]].title,
        class=uri.pathname.indexOf('/' + keys[i]) === 0 ? 'selected' : null)
        | #{map[keys[i]].text}
    - }

header.clearfix
  a.logo(href="/")
    img.logo.float-left(src="/assets/img/logo.png", alt="logo")
  +main-nav(uri)
