header.clearfix
  a.logo(href="/")
    img.logo.float-left(src="/assets/img/logo.png", alt="logo")
  nav.float-right
    a(href="/why", title="Why this page exists")
      | Why?
    a(href="/inspire", title="Browse the quotes")
      | Inspire
    a(href="/contribute", title="Find out how to contribute")
      | Contribute
    a(href="/create", title="Create a quote")
      | Create
