header.clearfix
  a.logo(href="/")
    img(src="/assets/img/indian30.png", class="float-left")
    h1.float-left
      span SPIRITUALISMS
      span.title DAILY AWAKENING
  nav.float-right
    a(href="/why", title="Why this page exists")
      | Why?
    a(href="/inspire", title="Browse the quotes")
      | Inspire
    a(href="/donate", title="Donate to keep this service alive")
      | Donate
    a(class="button" href="/create", title="Create a quote")
      | Create
