include ../mixin/quote-toolbar
include ../mixin/unstar

template
  .quotation.item
    blockquote.primary
    .meta.clearfix
      cite.float-left 
      +quote-toolbar(null, {permalink: true})

  +unstar()

