include ../mixin/quote-toolbar
include ../mixin/star
include ../mixin/unstar

template
  //- quote listing item
  .quotation.item
    blockquote.primary
    .meta.clearfix
      cite.float-left 
      +quote-toolbar(null, {permalink: true})

  //- star/unstar templates
  +star()
  +unstar()
  
  //- messages
  .msg.error
    p &nbsp;
    a.close(href='#dismiss')
      i.fa.fa-close
