ul
  li
    a(href="/") Spiritualisms
    span Daily inspiration
  li
    a(href="/about") About
    span About the Spiritualisms project
  li
    a(href="/home") Browser Home
    span Minimal home page for the browser
  li
    a(href="/docs") Documents
    span Documents and reference material
    ul
      li
        a(href="/docs/contribution-guidelines") Contribution Guidelines
        span Guidelines for contributing new quotes
      li
        a(href="/docs/privacy-policy") Privacy Policy
        span Protection of your privacy
      li
        a(href="/docs/source-code") Source Code
        span Get the website source code
  li
    a(href="/explore") Explore
    span Browse the quotes
    ul
      li
        a(href="/explore/authors") Authors
        span Find quotes by authors
      li
        a(href="/explore/tags") Tags
        span Find quotes by tags
  li
    a(href="/stars") Stars
    span Your favourite quotes