extends layout

block content
  section.contribute.page
    h2 Contribute
    h3 Create
    p Found an awesome inspirational quote? Please 
      a(href='/create') create
      | &nbsp;a submission.
    h3 Share
    p If you like what we are doing please share this website with friends; 
      | tweet, post to your wall or send an email to share the inspiration.
    h3 Love
    p When you find a quote particularly inspirational show your love for that 
      | quote by clicking the love link.
    h3 Home
    p Set 
      a(href='/home') this page
      | &nbsp;as your browser's home page and contribute by inspiring yourself.
    h3 Donate
    p Help keep this website running, donate a 
      em small
      | &nbsp;amount using the link below:
    p.donate
      a(href="https://donorbox.org")
        img.donorbox(src="/assets/img/donorbox.svg")
    //-p Donations are accepted from donorbox, please click the link above 
      //-| to make a small contribution. The money helps to cover the cost of 
      //-| the web servers and our time curating the list.
    //-p Whilst there are a myriad of donation services we have chosen 
      //-| donorbox because they use the highly reputable payment processor Stripe.
