extends layout

block content
  section.contribute.page
    h2 Contribute
    p There are various ways to contribute:
    ul
      li 
        a(href='/create') Create
        | &nbsp;an insightful quote
      li Share this website with friends
    h3 Donate
    p
      a(href="https://donorbox.org")
        img.donorbox(src="/assets/img/donorbox.svg")
    p Donations are accepted from donorbox, please click the link above 
      | to make a small contribution. The money helps to cover the cost of 
      | the web servers and our time curating the list.
    p Whilst there are a myriad of donation services we have chosen 
      | Donorbox because they use the highly reputable payment processor Stripe.
