extends layout

block content
  section.contribute
    h2 Contribution Guidelines
    h3 Inspire
    p The foremost criteria is that quotes are 
      em inspirational
      |  and 
      em insightful
      | .
    p For example a quote such as:
    blockquote.normal Love &amp; Laugh
    p Whilst fun and great advice would not fulfil the insightful criteria.
    h3 Author
    p There is no restriction on whom the author may be for a quote.
      | Contributions are welcome from any major religion, belief system or
      | person. Anonymous quotes are allowed but quotes with an author and 
      | citation will be preferred.
    h3 Agenda
    p Quotes should not push a particular agenda, ie, promote a particular
      | belief system.
    h3 Language
    p Currently quotes must be submitted in the English language.
    h3 Preference
    p Quotes that fulfill the following criteria will be preferred:
    ul
      li Are attributed to an author.
      li Supply a link about the author.
      li Provide additional information about the citation.
    p.center
      a.button(href='/create', title='Create a quote') Create Now
