extends layout

block content
  section.contribute.page
    h2 Contribution Guidelines
    p Quotes should be inspirational, insightful and concise.
    p For example a quote such as:
    blockquote.normal Love &amp; Laugh
    p Whilst fun and great advice would not fulfil the insightful criteria.
    h3 Search
    p Please take the time to search to see if the quote already exists.
      | You can search by 
      a(href='/explore/authors', title='Search authors') authors
      | &nbsp;or by&nbsp;
      a(href='/explore/tags', title='Search tags') tags
      | .
    h3 Author
    p There is no restriction on whom the author may be for a quote.
      | Contributions are welcome from any major religion, belief system or
      | person. Anonymous quotes are allowed but quotes with an author and 
      | citation will be preferred.
    p It is not forbidden, however due to potential self-promotion, it is 
      | discouraged that an author be the same as the person submitting 
      | the quote.
    h3 Link
    p The link for the quote should be about the author and provide 
      | more information about the author and/or source of the quote.
    h3 Agenda
    p Quotes should not push a particular agenda, ie, promote a particular
      | belief system.
    h3 Language
    p Currently quotes must be submitted in the English language.
    h3 Formatting
    p Please do not include any markup or newlines in the quote.
    h3 Edits
    p If the source material has been edited for brevity ensure the message 
      | is not altered and please indicate that content has been omitted 
      | using the notation:
      code [...]
      | .
    h3 Criteria
    p Quotes that fulfill the following criteria will be preferred:
    ul
      li Inspirational: inspires change.
      li Insightful: cuts to the heart.
      li Concise: brief and to the point.
      li Attribution: attributed to an author&#8212;not anonymous.
      li Reference: Link about the author.
      li Citation: Additional information about the source.
    p.center
      a.button(href='/create', title='Create a quote') Create Now
