extends layout

block title
  title Create

append meta
  meta(name='description', content='Create a new quote')

block content
  section.create.page
    h2 Create
    p Feel free to create a quote but please read the 
      a(href='/contributing' title='Contributing guidelines')
        | contributing guidelines
      |  if you haven't already, quotes are not published until they have 
      | been reviewed.
    form
      fieldset
        label(for="author") Author
        input(type="text" placeholder="Author of the quote" id="author")
        label(for="quote") Quote
        textarea(placeholder="Enter the quote" id="quote")
        label(for="link") Link
        input(type="text",
          placeholder="Link about the author",
          id="link")
        input.button-primary(type="submit" value="Send")
