extends layout

block content
  section.create
    div.primary
      blockquote.primary Love is the ultimate truth at the heart of creation.
      cite &#151; 
        a(href='https://en.wikipedia.org/wiki/Rabindranath_Tagore',
          title='Rabindranath Tagore (en.wikipedia.org)') Rabindranath Tagore
    p Feel free to create a quote but please read the 
      a(href='/contributing' title='Contributing guidelines')
        | contributing guidelines
      |  if you haven't already.
    form
      fieldset
        label(for="author") Author
        input(type="text" placeholder="Author of the quote" id="author")
        label(for="quote") Quote
        textarea(placeholder="Enter the quote" id="quote")
        label(for="link") Link
        input(type="text",
          placeholder="Link for more information on the author",
          id="link")
        div.example-send-yourself-copy
          input(type="checkbox", id="confirmField")
          label.label-inline(for="confirmField") Send a copy to yourself
        input.button-primary(type="submit" value="Send")
