extends layout

block content
  section.donate
    h2 Donate
    //-div.primary
      //-blockquote.primary Every time you smile at someone it is an action of love, 
        //-br
        //-| a gift to that person, a beautiful thing.
      //-cite.primary &#151; 
        //-a(href='https://en.wikipedia.org/wiki/Mother_Teresa',
          //-title='Mother Teresa (en.wikipedia.org)') Mother Teresa
    p
      a(href="https://donorbox.org")
        img.donorbox(src="/assets/img/donorbox.svg")
    p Donations are accepted from donorbox, please click the link above 
      | to donate. The money helps to cover the cost of the web servers 
      | and our time curating the list.
    p Whilst there are a myriad of donation services we have chosen 
      | Donorbox because they use the highly reputable payment processor Stripe.
