extends layout

include mixin/quote-toolbar
include mixin/quote-listing

block content
  section.page
    h2.clearfix Explore
      span.float-right
        a(href='/explore/authors', title='Authors') Authors
        | &nbsp;|&nbsp;
        a(href='/explore/tags', title='Tags') Tags
      sup &nbsp;#{quotes.total_rows}
    .listing
      +quote-listing(quotes)
