extends layout

include mixin/quote-toolbar
include mixin/quote-listing

block content
  section.page
    h2.clearfix Explore
      span.float-right
        a(href='/explore/tags', title='Tags') Tags
        | &nbsp;|&nbsp;
        a(href='/explore/authors', title='Authors') Authors
    .listing
      +quote-listing(quotes)
