extends layout

include mixin/quotation

//- no header for home page
block header

//-block footer
  //-footer.home-page.clearfix
    //-a.logo(href="/", title="Spiritualisms website")
      //-img(src="/assets/img/indian30.png", class="float-right")

block content
  section.quote
    div.ism
      +quotation(doc, {more: true, home: true})
