extends layout

//- no header for home page
block header

block footer
  footer.clearfix
    a.logo(href="/", title="Spiritualisms website")
      img(src="/assets/img/indian30.png", class="float-right")

block content
  section.quote
    div.ism
      blockquote.primary Yesterday I was clever, so I wanted to change the world.
        br
        | Today I am wise, so I am changing myself.
      cite.primary &#151; 
        a(href='https://en.wikipedia.org/wiki/Rumi',
          title='Rumi (en.wikipedia.org)') Rumi
      a.button(title='Load a new quote') More Inspiration
