extends layout

include mixin/quotation

append meta
  meta(name='title', content='Browser Home')

//- no header for home page
block header

block content
  .quote-main
    .ism
      +quotation(doc)
  include include/footer-browser-home
