extends layout

include mixin/quotation
include mixin/refresh
include mixin/footer

//- no header for home page
block header

block content
  section.quote
    div.ism
      +quotation(doc)
  +footer(doc, {home: true})
  +refresh()
