extends layout

include mixin/quotation

append meta
  meta(name='title', content='Browser Home')
  meta(name='description', content='Minimal home page for the browser')

block body
  | <body class="browser">

//- no header for home page
block header

block content
  .quote-main
    .ism
      +quotation(doc)
  include include/footer-browser-home
