extends layout

include mixin/quotation
include mixin/refresh

append meta
  meta(name='description', content='Daily inspiration')

block content
  .quote-main
    .ism
      //- img(src='/assets/img/spiritualisms-dreamcatcher.svg', width='32', height='32')
      +quotation(doc)
  include include/footer-home
