extends layout

include mixin/quotation
include mixin/refresh
include mixin/footer

block content
  section.quote
    div.ism
      +quotation(doc)
  +footer(doc, {browser: true, sitemap: true})
  +refresh()
