doctype html
html
  head
    block head
      block title
        title Spiritualisms
      meta(charset='utf-8')
      script.
        window.app = !{JSON.stringify(app)}
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='icon', type='image/png', href='/assets/img/favicon.png')
      block css
        link(rel='stylesheet', href='/assets/css/style.css', media='screen')
        link(rel='stylesheet', href='/assets/css/font-awesome.css', media='screen')
      block script
  body
    block header
      include include/header
    block content
    block footer
      include include/footer
    block misc
      include include/browser-update
      //-+noscript()
    //-block partial
      //-include include/partial
    block js
      script(src='/assets/js/app.js')

  | <script type='text/javascript' id="__bs_script__">//<![CDATA[
  | document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
  | </script>
