extends layout

include mixin/cite-primary
include mixin/quote-toolbar
include mixin/tag-list
include mixin/downloads

block content
  section.page.permalink
    div.quotation(data-id=doc.id)
      +quote-toolbar(doc)
      blockquote.primary #{doc.quote}
      +cite-primary(doc)
      - if(doc.tags.rows.length) {
        hr
        nav.tags
          | Tags:&nbsp;
          +tag-list(doc.tags, 'tags')
      - }
      +downloads(url)
