extends layout

include mixin/cite-primary
include mixin/quote-toolbar

block content
  section.page.permalink
    +quote-toolbar(doc)
    div.quotation
      blockquote.primary #{doc.quote}
      +cite-primary(doc)
