extends layout

block content
  section.quote
    div.ism
      blockquote.primary #{quotation.quote}
      cite.primary &#151; 
        a(href='https://en.wikipedia.org/wiki/Rumi',
          title='Rumi (en.wikipedia.org)') Rumi
