extends layout

block content
  section.quote
    div.ism
      blockquote.primary #{quotation.quote}
      cite.primary &#151; 
        a(href=quotation.link,
          title=quotation.author) #{quotation.author}
