extends layout

block script
  script(src='/assets/js/vendor/file-saver.js')

block content
  section.stars.page
    h2 Stars
    .actions.clearfix
      nav.float-left
        a.button.export Export
        a.button.import Import
        input(type='file', id='import', name='files', accept='application/json')
      nav.float-right
        a.button.clear.disabled Clear All
    .empty
      p You don't have any stars yet! Use the star link next to a quote to add 
        | a favourite to this page.
    .listing
