extends layout

block script
  script(src='/assets/js/vendor/file-saver.js')


block title
  title Stars

append meta
  meta(name='description', content='Your favourite quotes')

block content
  section.stars.page
    h2 Stars
      sup &nbsp;
    .actions.clearfix
      nav.float-left
        a.button.import Import
        a.button.export Export
      nav.float-right
        a.button.clear.disabled Clear All
    .empty
      p You don't have any stars yet! Use the star link next to a quote to add 
        | a favourite to this page.
    .listing

block append template
  include include/template/stars-page
