extends layout

block content
  section.stars.page
    h2 Stars
    div.help
      p You don't have any stars yet! Use the star link next to a quote to add 
        | a favourite to this page.
    div.list
