extends layout

block content
  section.why
    blockquote.primary Spritualisms is a list of curated quotes to provide 
      br
      | daily inspiration; a small nudge along your path.
    p Designed to be so elegant you could set it as your home page or, 
      | if you prefer, drop by once in a while for some inspiration.
    p To use as the home page in your web browser set this page:
    p
      a.home-page(href='/home-page') http://spiritualisms.com/home-page
    p As your home page.
