<li>
  <blockquote>
    <a href="/quotes/{{id.doc}}/">{{quote}}</a>
  </blockquote>
  {{#if with_author}}
  <cite>&mdash; <a href="/authors/{{slug ./author}}/">{{./author}}</a></cite>
  {{/if}}
</li>
