.browser-update-links
  text-align: center;
  a
    font-size: 4rem;
    transition: color 0.75s ease;
    color: $medium;
    &:not(:last-child)
      margin-right: 2rem;
    &:hover
      color: $blue;

.update-info
  text-align: center;
  p
    vertical-align: top;
    text-align: left;
    display: inline-block;
    max-width: 24rem;
    margin-bottom: 0;
    &:not(:last-child)
      margin-right: 2rem;
