mixin cite-primary(doc)
  - var title = doc.title || (doc.author + ' (' + doc.domain + ')');
  cite.primary &#151; 
    - if(doc.link) {
      a(href=doc.link, title=title) #{doc.author}
    - }else{
      span #{doc.author} 
    - }
