mixin cite-primary(doc)
  - if(doc && Array.isArray(doc.author)) {
    - doc.author = doc.author.join(' & ');
  - }
  - var title = doc.title || (doc.author + ' (' + doc.domain + ')');
  cite.primary &#8212;
    - if(doc.link) {
      a(href=doc.link, title=title) #{doc.author}
    - }else{
      span #{doc.author} 
    - }
