mixin footer(doc, opts)
  - opts = opts || {};
  footer.quote
    nav
      a.refresh(href='/',title='Get more inspiration')
        i.fa.fa-refresh
      - if(opts.browser) {
        a.home(
          href='/home',
          title='Browser home page')
          i.fa.fa-home
      - }
      - if(opts.home) {
        a.home(
          href='/',
          title='Website home page')
          i.fa.fa-home
      - }
      - if(opts.sitemap) {
        a.sitemap(href='/sitemap', title='Site map')
          i.fa.fa-sitemap.sitemap
      - }
