include ./star

mixin quote-toolbar(doc, opts)
  - doc = doc || {};
  - opts = opts || {};
  nav.toolbar
    a.love(href='/explore/' + doc.id, title='Love it')
      i.fa.fa-heart.love
        | &nbsp; Love
    +star(doc, opts)
    - if(opts.permalink) {
      a.permalink(href='/explore/' + doc.id, title='View it')
        i.fa.fa-share-alt.permalink
        | &nbsp;View
    - }
