.file-list-item
  font-size: 1.8rem;
  margin: 0;
  nav.download
    font-size: 1.4rem;
    text-align: left;
    float: right;
    border: 0;
    padding: 0;
    margin: 0;

.page.download > h2
  text-align: right;
  padding: 0;
  nav.download
    font-size: 1.8rem;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    a
      display: inline;
      vertical-align: baseline;
