footer
  nav.refresh
    display: block;
    background: $white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    a
      color: inherit; 
      font-size: 1.4rem;

  a.home
    position: fixed;
    display: inline-block;
    right: 1rem;
    bottom: -0.5rem;
    z-index: 2;
    img
      width: 40px;
      height: 40px;
