.page.index
  ul
    list-style-position: outside;
    li
      margin: 0;
      ul
        list-style-position: outside;
        margin-top: 0;
        margin-bottom: 0;
      span
        display: block;
        font-size: 2rem;
        color: $muted;
        //padding-left: 2rem;
