.listing
  max-width: 92rem;
  margin: auto;
  &:not(.search-results)
    padding-bottom: 2rem;
  .quotation
    &:not(:last-child)
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $muted;
    blockquote
      font-size: 2.8rem;
      text-align: left;
    nav.toolbar
      float: right;
      margin-top: 0;
      border: 0;
    cite
      font-size: 2.4rem;
