.msg
  position: relative;
  padding: 1rem;
  border-radius: .5rem;
  p
    font-size: 2rem;
  p:first-child
    margin-bottom: 0;

.msg.error
  background: $red;
  color: $white;
  a.close
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .5rem;
    margin-right: 1rem;

