form.search
  fieldset
    display: table-row;
    width: 100%;
    >.cell:first-child
      padding-right: 1rem;
    input[type="search"]
      font-size: 2rem;
      padding 2rem 1rem;
      margin-right: 12rem;
      width: 100%;

.search-results
  >small
    display: block;
    text-align: right;
    &.empty
      text-align: center;
      font-size: 3rem;

