.sitemap
  ul
    li
      margin-bottom: 0;
      ul
        margin-top: 0;
        margin-bottom: 0;
      span
        display: block;
        font-size: 2rem;
        color: $muted;
        padding-left: 2rem;
