section.stars .empty
  display: none;

section.stars .actions nav:first-child a:not(:last-child)
  margin-right: 1rem;

// import dialog
label[for="chooser"]
  text-align: center;
  background: $muted;
  padding: .5rem 1rem;
  border-radius: .2rem;
  //margin-bottom: 2rem;
  font-weight: normal;
  //min-height: 8rem;
  //display: table;
  width: 100%;
  &.dragover
    background: $medium;
  .filenames
    display: block;
    margin-left: 1rem;
    text-align: left;
    margin-bottom: 0;
    font-size: 1.6rem;
    .filename
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0;
      padding: 0;
      max-width: 30rem;

.choose
  ul
    padding-left: 2rem;
    li
      margin-bottom: 0;
  
