@import 'fonts';
@import 'font-awesome';
@import 'animate';

@import 'colors';
@import 'milligram';

/* */

html, body
  width: 100%;
  height: 100%;
  margin: 0;

@import 'header';
@import 'dialog';

section, .quote-main, .ism
  width: 100%;
  height: 100%;

.page
  padding-top: 6rem;

.quote-main
  display: table;
  .ism
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10%;

blockquote.primary {
  border-left: none;
  font-family: 'Noto Serif', serif;
  font-size: 4rem;
  /*text-align: center;*/
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.why blockquote.primary {
  width: 110%;
  margin-left: -5%;
}

blockquote.primary:before {
  content:"\201C";
}

blockquote.primary:after {
  content:"\201D";
}

blockquote.normal {
  margin-bottom: 2rem;
}

.quotation cite {
  display: block;
  font-size: 3rem;
  font-style: normal;
}

p {
  font-size: 3rem;
}

a[href^="http"] {
  color: #268bd2;
}

.quotation
  text-align: center;

.quotation nav.toolbar:first-child
  display: block;
  text-align: left;

nav.toolbar, nav.download
  display: inline-block;
  padding: 0;
  margin: 0;

nav.toolbar
  text-transform: uppercase;
  a
    span.counter
      // lowercase `k` in counter numbers
      text-transform: none;

.quotation nav.toolbar:not(:first-child), nav.download
  margin-top: 4rem;
  padding: 1rem 0 0 0;
  border-top: 1px solid black;

nav.tags
  margin-top: 4rem;

nav.download
  border-bottom: 1px solid black;
  padding: 1rem 0;
  a:not(:last-child)
    border-right: 1px solid black;
    padding-right: .5rem;
    margin-right: .5rem;

nav.toolbar a {
  //color: black;
  padding-bottom: .2rem;
}

nav.toolbar a:hover {
  border-bottom: 1px solid;
}

nav.toolbar a:not(:last-child) {
  margin-right: 1rem;
}

.why blockquote.primary {
  margin-bottom: 4rem;
}

.page, .error pre, form, section h2, blockquote:not(.primary)
  max-width: 92rem;
  margin: auto;
  padding-bottom: 2rem;

section h2 {
  margin-top: 4rem;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

p.donate {
  text-align: center;
}

img.donorbox {
  background: #6cc;
  padding: 2rem;
  border-radius: .5rem;
  width: 24rem;
}

p.center {
  text-align: center;
}

section ul {
  font-size: 2.4rem;
}

.item .meta {
  vertical-align: bottom;
}

.item blockquote {
  /*border: 0;*/
  border-color: #9b4dca;

}

.item:before {
  /*content: "{";*/
  /*font-size: 16rem;*/
  /*margin-left: -2rem;*/
  /*margin-top: -6rem;*/
  /*float: left;*/
}

cite span {
  font-style: normal;
}

input[type="text"], textarea {
  font-size: 2.4rem;
  padding: 2rem 1rem;
}

textarea {
  min-height: 12rem;
  padding: 1rem;
}

.error pre {
  padding: 0 0 0 2rem;
}

.browser-update {
  position: fixed;
  text-align: center;
  background: $light;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  margin-top: 0;
  display: none;
  padding: 1rem;
  width: 100%;
  top: 6rem;
  left: 0;
  right: 0;
  z-index: 200;
}

a.love
  color: #dc322f;

a.star
  color: #b58900;

a.permalink
  color: #2aa198;

span.love:before, span.star:before
  content: " (";

span.love:after, span.star:after
  content: ")";

.page.permalink {
  padding-top: 16rem;
}

.page.permalink blockquote.primary {
  margin-top: 1rem;
  border-top: .2rem solid black;
}

em
  font-style: normal;
  border-bottom: 1px dotted;
  //text-decoration: underline;

@import 'listing';
@import 'stars-page';

[disabled], .disabled
  opacity: 0.8;
  pointer-events: none;

[hidden]
  display: none;

.muted
  color: $muted;

.footnote
  font-size: 1.6rem;

// tables
.table
  display: table;

.cell
  display: table-cell;
  width: 100%;
  padding: 0;

form
  padding-bottom: 0;

fieldset
  margin: 0;
  padding: 0;

.all-tags
  font-size: 2.8rem;

section > h2 > sup
  color: $muted;
  font-size: 1.8rem;

.page.download nav.download
  display: block;
  text-align: center;
  border-top: 0;

@import 'files';

@import 'search';
@import 'message';
@import 'footer';
