//- colors
$pure             = white;
$survival         = orangered;
$sexuality        = orange;
$power            = yellow;
$love             = yellowgreen;
$communication    = paleturquoise;
$intuition        = lightsteelblue;
$spirituality     = $purple;

//- page styles
body
  transition: background-color 0.75s ease;
  &.pure
    background-color: $pure;
  &.survival
    background-color: $survival;
  &.sexuality
    background-color: $sexuality;
  &.power
    background-color: $power;
  &.love
    background-color: $love;
  &.communication
    background-color: $communication;
  &.intuition
    background-color: $intuition;
  &.spirituality
    background-color: $spirituality;
  footer
    nav.refresh
      background: transparent;


//- swatch styles
.swatches
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  padding: 0 0 7px 1rem;
  margin: 0;
  a
    display: inline-block;
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    transition: opacity 0.75s ease;
    opacity: 0.5;
    &:hover
      transition: opacity 0.75s ease;
      opacity: 1;
    svg.pure
      fill: $pure;
    svg.survival
      fill: $survival;
    svg.sexuality
      fill: $sexuality;
    svg.power
      fill: $power;
    svg.love
      fill: $love;
    svg.communication
      fill: $communication;
    svg.intuition
      fill: $intuition;
    svg.spirituality
        fill: $spirituality;
    &:not(:last-child)
      margin-right: 0.5rem;
